:root{
  --vermelho: #E50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elementos Base */

body {
  background: var(--preta);
  font: 'Times New Roman', Times, serif;
  color: #fff;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;  
  letter-spacing: 8px;  
}

header nav a {
  text-decoration: none;
  color: #AAA;
  margin: 10px;
}

header nav a:hover {
  color: #FFF;
}

/* Filme principal*/

.filme-principal {
  font-size: 18px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)100%), url('../img/capa-house.jpg');

  height: 600px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-bottom: 40px;
}

.titulo {
  font-size: 40px;
}