:root{
  --vermelho: #E50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--preta);
  font: 'Times New Roman', Times, serif;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;  
  letter-spacing: 8px;  
}

header nav a {
  text-decoration: none;
  color: #AAA;
  margin: 10px;
}

header nav a:hover {
  color: #FFF;
}